.Total {
display: flex;  /* ĐỂ control thuộc tính con  */
border-collapse: separate;
border-spacing: 60px 60px;
background-color:  rgba(241, 240, 240, 0.808);
flex-direction: column; /* setting direction of items in the container */ 
}

.TTS1 {
    /* text-align: center;
    border-style: solid;
    border-width: 5px; */
    background-color: rgba(255, 0, 0, 0.393);
    /* border-radius: 40px;
    display: inline-flex;
    margin: 20px; */
    color: black
    
}

.BIS{
    /* text-align:  center;
    border-style: solid;
    border-width: 5px; */
    background-color: rgba(255, 0, 0, 0.408);
    /* border-radius: 40px;
    display: inline-flex;
    margin: 20px; */
}

.MAPV{
    /* text-align:  center;
    border-style: solid;
    border-width: 5px; */
    background-color: rgba(255, 153, 0, 0.536);
    /* border-radius: 40px;
    display: inline-flex;
    margin: 20px; */
}
.BSSI{
    /* text-align:  center;
    border-style: solid;
    border-width: 5px; */
    background-color: rgba(130, 114, 12, 0.554);
    /* border-radius: 40px;
    display: inline-flex;
    margin: 20px; */
}
.FMS{
    /* text-align:  center;
    border-style: solid;
    border-width: 5px; */
    background-color: rgba(46, 134, 2, 0.524);
    /* border-radius: 40px; */
    /* display: inline-flex;
    margin: 20px; */
}
/* Viết gộp các thuộc tính giống nhau của các tập */
.BIS,.MAPV,.BSSI,.FMS {
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 40px;
    display: inline-flex;
    margin: 20px;
    color: black;
    border-color: beige;
}
/* restyle button */
button {
    border: none;
    color : inherit
}

.Buttoncontainer{
    align-items: center;
}
.Button {
    text-align:  center;
    border-width: 5px; 
    display: inline-flex;
    font-size: 100px;
    border-color: whitesmoke;
    border-radius: 40px;
    color:rgba(0, 0, 255, 0.599);
}
/*  đưa chuột vào sẽ đổi thuộc tính tag */
.BIS:hover { 
    background-color: pink;
    font-size: 150%;
    text-decoration: line-through;
    /* Gách ngang chữ */
}

.ButtonThu{
    text-align:  center;
    border-width: 5px; 
    display: inline-flex;
    margin: auto;
    font-size: 100px;
    border-color: whitesmoke;
    border-radius: 40px;
    color:rgba(4, 184, 163, 0.903);
}

.ButtonThu:hover{
    background-color: pink;
    font-size: 150%;
    opacity:0.5;

}


@keyframes test{
    from {left: 50%}
    to {left: 100%}
}
.Day{
    position: relative;
    align-items: center;
    border-style: dotted;
    color:rgba(2, 112, 99, 0.743);
    width: 300px;
    height: 100px;
    animation: test 5s infinite ;
}

.Day:hover{
    background-color: rgba(0, 120, 167, 0.946);
    font-size: 150%;
}

@keyframes  Time{
    from { right: 0px}
    to {right: 400px} 
}
.Time {
    position: relative;
    align-items: center;
    border-style: dotted;
    color:rgba(47, 184, 168, 0.743);
    width: 300px;
    height: 100px;
    animation: Time 5s infinite ;
}
.Time:hover{
    background-color: aquamarine ;
    font-size:150%
}
.Earth{

}
/* 
tạo circle  cho animation same above */
/* // hover state cho button 
// click a link on button/div 
// change opacity when hover  */
/* import hình trái đất + mặt trời
Tạo đường tròn: Tạo 1 hình vuông => tạo radius 100% => animation  */